<h1>Forms</h1>
<form class="example-form">
  <md-form-field class="example-full-width">
    <input type="text" mdInput placeholder="5 digit number (required)" [formControl]="fiveDigitNumberCtrl">
    <demo-additional-hint mdSuffix></demo-additional-hint>
    <md-hint align="start"><strong>Type letters to see warning</strong></md-hint>
    <md-error *ngIf="fiveDigitNumberCtrl.hasError('max')">Number cannot be more than 5 digits.</md-error>
    <md-error *ngIf="fiveDigitNumberCtrl.hasError('pattern')">Must be a number.</md-error>
    <md-error *ngIf="fiveDigitNumberCtrl.hasError('required')">Required</md-error>
  </md-form-field>

</form>
